<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrição Eficiente</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <h1>Bem-vindo ao Nutrição Eficiente</h1>
        <p>Seu guia para uma vida saudável.</p>
    </header>
    <nav>
        <ul>
            <li><a href="sobre.html">Sobre Mim</a></li>
            <li><a href="cadastro.html">Cadastro de Clientes</a></li>
            <li><a href="contato.html">Contato</a></li>
            <li><a href="clientes.html">Clientes Cadastrados</a></li>
        </ul>
    </nav>
    <main>
        <section>
            <h2>Sobre este Site</h2>
            <p>Este é um site dedicado a promover a saúde e o bem-estar através da nutrição. Oferecemos consultas e planos alimentares personalizados para ajudar você a alcançar seus objetivos de saúde.</p>
        </section>
    </main>
    <footer>
        <p>© 2024 Nutrição Eficiente. Todos os direitos reservados.</p>
        <p>Sistema Desenvolvido por Samuel Lima</p>     
    </footer>
</body>
</html>
