<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mim</title>
    <link rel="stylesheet" href="css/style.css"> <!-- Lembre-se de vincular seu arquivo CSS -->
</head>
<body>
    <header>
        <h1>Sobre Mim</h1>
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Página Inicial</a></li>
            <li><a href="cadastro.html">Cadastro de Clientes</a></li>
            <li><a href="contato.html">Contato</a></li>
            <li><a href="clientes.html">Clientes Cadastrados</a></li>
        </ul>
    </nav>
    <main>
        <section>
            <h2>Minha História</h2>
            <p>Aqui você pode falar um pouco sobre você e seu trabalho como nutricionista. </p>
            <p>Conte sua história, experiência, áreas de especialização, etc.</p>
        </section>
    </main>
    <footer>
        <p>© 2024 Nutrição Eficiente. Todos os direitos reservados.</p>
        <p>Siga-nos nas redes sociais</p>
        <p>Sistema Desenvolvido por Samuel Lima</p>     
    </footer>
</body>
</html>
